<div class="main-container">
  <div class="background-image-container"></div>
  <div class="login-box">
          <img class="logo" src="../../../assets/img/dashboard-client/logo1.png" alt="Pet Center">
          <h1>Bienvenido a Pet Center</h1>
          <form action="">
              <!--CORREO ELECTRONICO-->
              <label for="email">Correo electronico</label>
              <input type="text" placeholder="Ingresa tu correo">

              <!--CONTRASEÑA-->
              <label for="password">Contraseña</label>
              <input type="text" placeholder="Ingresa tu contraseña">

              <input id="login-button" type="submit" value="Ingresar" >
              <br>
              <a href="#">¿Perdiste tu contraseña?</a>
              <br><br>
              <a id="dissabled-link" >¿No tienes una cuenta?</a>&nbsp;&nbsp;

              <a  id="enabled-link" href="/register" onclid>Registrate aquí</a>
          </form>
  </div>
</div>
