<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PetCenter</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="" class="navbar-brand d-none d-lg-block">
              <h1 class="m-0 display-5 text-capitalize">
                <img src="../../../assets/img/dashboard-client/logo2.png" alt="">
                <span class="text-primary">Pet</span>Center
              </h1>
            </a>
            <a href="/dashboard/dashboard-admin" class="nav-item nav-link active">Home</a>
            <a href="/dashboard/register-products" class="nav-item nav-link ">Productos</a>
            <a href="/dashboard/register-seccion" class="nav-item nav-link">Secciones</a>
            <a href="/dashboard/register-category" class="nav-item nav-link">Categorias</a>
            <a href="/dashboard/list-product" class="nav-item nav-link">Listado</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- Navbar End -->

    <!-- section about start -->
    <div class="about_section">
      <div class="about_text">
        <div class="container">
          <h1 class="about_taital_1">
            <strong><span style="color: #ED6436">Pet</span><span style="color: black"> Center </span></strong>
          </h1>
          <p class="magna_text">
            ¡Bienvenido Querido Admin!
          </p>
        </div>
      </div>
    </div>

    <!-- section about end -->

    <!-- section footer start -->
    <div class="section_footer"></div>
    <!-- section footer end -->


  </body>
</html>
