
<body>

    <header>
      <div>
        <h1>Lista de Productos</h1>
      </div>

    </header>

    <table>
      <thead>
        <tr>
          <th style="background-color: #ed6436;">Título</th>
          <th style="background-color: #ed6436;">Descripción</th>
          <th style="background-color: #ed6436;">Precio</th>
          <th style="background-color: #ed6436;">Imagen</th>
          <th style="background-color: #ed6436;">Fecha de Vencimiento</th>
          <th style="background-color: #ed6436;">Categoría</th>
          <th style="background-color: #ed6436;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.titulo}}</td>
          <td>{{product.descripcion}}</td>
          <td>{{product.precio}}$</td>
          <td><img src="{{product.foto}}" ></td>
          <td>{{product.fechaVencimiento}}</td>
          <td>{{product.category.namecategory}}</td>
          <td class="actions">
            <a [routerLink]="[ '/dashboard/register-products']" [state]="product" class="btn btn-primary">Actualizar</a>
            <button class="delete-button" (click)="deleteProduct(product.id)">Eliminar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </body>
