.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
}

.text-primary {
  color: #ED6436 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #c53f12 !important;
}


.navbar-dark .navbar-nav .nav-link {
  padding: 30px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #F2F2F4;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #181818;
  background: #ED6436;
}


body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #272222;
  padding: 5px;
  color: #fff;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #ed6436;
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.actions {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  padding: 5px 10px;
}

.btn {
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  background-color: #ed6436;
  border: solid #ed6436;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.btn:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.delete-button {
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  background-color: #ed6436;
  border: solid #ed6436;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
}

.delete-button:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}