
<body>

  <header>
    <!-- Navbar Start -->
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
          <a href="" class="navbar-brand d-none d-lg-block">
            <h1 class="m-0 display-5 text-capitalize">
              <img src="assets/img/dashboard-client/logo1.png" alt="">
              <span class="text-primary">Pet</span>Center
            </h1>
          </a>
          <a href="/dashboard/list-product" class="nav-item nav-link active">Listado</a>
          <a href="/dashboard/register-products" class="nav-item nav-link">Productos</a>
          <a href="/dashboard/dashboard-admin" class="nav-item nav-link">Home</a>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar End -->

  </header>

  <table>
    <thead>
      <tr>
        <th style="background-color: #ed6436;">Título</th>
        <th style="background-color: #ed6436;">Descripción</th>
        <th style="background-color: #ed6436;">Precio</th>
        <th style="background-color: #ed6436;">Imagen</th>
        <th style="background-color: #ed6436;">Fecha de Vencimiento</th>
        <th style="background-color: #ed6436;">Categoría</th>
        <th style="background-color: #ed6436;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.titulo}}</td>
        <td>{{product.descripcion}}</td>
        <td>{{product.precio}}$</td>
        <td><img src="{{product.foto}}" ></td>
        <td>{{product.fechaVencimiento}}</td>
        <td>{{product.category.namecategory}}</td>
        <td class="actions">
          <a [routerLink]="[ '/dashboard/register-products']" [state]="product" class="btn btn-primary">Actualizar</a>
          <button class="delete-button" (click)="deleteProduct(product.id)">Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>
</body>