<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- Updated class: bg-primary to bg-dark -->
  <div class="col-md-4">
    <div><a href="index.html"><img src="assets/img/dashboard-client/logo1.png" alt="logo" style="width: 100px; height: 100px;"></a></div>
  </div>

  <a class="navbar-brand" href="#">Tienda de Mascotas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form>
      <input type="text" [(ngModel)]="searchTerm" name="buscar"  placeholder="Buscar...">
      <button type="submit" >Buscar</button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown dropdown-categorias">
        <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
          Secciones
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let secciones of seccion">{{secciones.namesection}}</a>

        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown dropdown-categorias">
        <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="selectedcategoryproduct(cate.namecategory)"  *ngFor="let cate of category">{{cate.namecategory}}</a>

        </div>
      </li>
    </ul>
    <div>
      <a class="navbar-brand" (click)="NavigateToBill()">Carrito</a>

    </div>




  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4"*ngFor="let product of products | productName: searchTerm | categryprduct: categoryproduct">
      <div class="product-card">
        <img src="{{ product.foto }}" >
        <h4>{{ product.titulo }}</h4>
        <p>Precio: {{ product.precio }}$</p>
        <p>{{ product.descripcion }}</p>
        <button (click)="agregarProduct(product)">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>

