<aside class="main-sidebar sidebar-light-navy elevation-4" >
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <div class="image">
      <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0 w-25" alt="User Image">
    </div>
    <span class="brand-text font-weight-light">
      <b>SISTEMA SALUD</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0 w-25" alt="User Image">
      </div>
      <div class="info">
        <a href="" class="d-block">Mi Perfil</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
          <a  href="\dashboard\medical-appoinment-list" class="nav-link">
            <i class="nav-icon fas fa-book-medical"></i>
            <p>
             Citas Asignadas

            </p>
          </a>
        </li>
        <li class="nav-header">OPCIONES</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sliders-h"></i>
            <p class="text">Configuraciones</p>
          </a>
        </li>
        <li  class="nav-item">
          <a href="/login" class="nav-link">
            <i  routerLinkActive="router-link-active"  class="nav-icon fas fa-sign-out-alt"></i>
            <p>Salir</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
