/* Estilos para la factura */
.container {
    margin-top: 70px;
    background-color: #aad2d4;
    margin-bottom: 70px;

  }

  h1 {
    color: #161718;
  }

  .row {
    margin-bottom: 10px;
  }

  .table {
    width: 100%;
  }

  /* Estilos para los productos */
  td {
    padding: 5px;
  }

  th {
    background-color: #819ba5;
    font-weight: bold;
  }

  /* Estilos para el total */
  h4 {
    margin-top: 10px;
    font-weight: bold;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    background-color: #161718;
  }
  .center{color: white;}

  .text-primary {
    color: #ED6436 !important;
  }

  a.text-primary:hover, a.text-primary:focus {
    color: #c53f12 !important;
  }


  .navbar-dark .navbar-nav .nav-link {
    padding: 30px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #F2F2F4;
    outline: none;
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #181818;
    background: #ED6436;
  }
