.container-fluid {
    width: 100%;
	  float: left;
	  background-color: #272222;
	  height: auto;
	  background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
button{
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    background-color: #ed6436;
    border: #ed6436;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
  }

  button:hover {
    color: #fff;
    background-color: black;
    border-color: black;
  }

