<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Red Social</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg  navbar-dark py-3 py-lg-0 px-lg-5">
    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
      <div class="navbar-nav mr-auto py-0">
        <a  class="navbar-brand d-none d-lg-block">
          <h1 class="m-0 display-5 text-capitalize">
              <img src="../../../assets/img/dashboard-client/logo2.png" alt="">
            <span class="text-primary">Pet</span><span class = "center">Center</span>
          </h1>
        </a>
        <a href="/dashboard/perfil" class="nav-item nav-link active">Perfil</a>
        <a href="/dashboard/products" class="nav-item nav-link">Tienda</a>
        <a href="/dashboard/dashboard-client" class="nav-item nav-link">Home</a>
        <a (click)="deletecookie()" class="nav-item nav-link">Cerrar Sesion</a>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <form>
              <div>
                <label>Titulo:</label>
                <div>
                  <input  [(ngModel)]="publications.title" type="text"  name="titulo">
                </div>
              </div>
              <div>
                <label>Descripcion:</label>
              </div>
              <div class="form-group">
                <textarea [(ngModel)]="publications.description" class="form-control" rows="3" placeholder="Escribe una publicación"  name="publicacion"></textarea>
              </div>
              <div class="form-group">
                <div>
                  <label >Url De laimagen</label>

                </div>
                <input [(ngModel)]="publications.images" type="text"  name="imagenes">
              </div>
              <button type="submit" class="btn btn-primary" (click)="createPublication()">Publicar</button>
            </form>
          </div>
        </div>

        <div class="card mt-4"*ngFor="let publi of   publication">
          <div class="card-body" >
            <h5 class="card-title">{{publi.title}}</h5>
            <p class="card-text">{{publi.description}}</p>
            <img src="{{publi.images}}" class="img-fluid mb-2" >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Información </h5>
            <img src="{{photobill}}" class="img-fluid mb-2" >
            <ul class="list-group">
              <li class="list-group-item">Nombre: {{namebill}}</li>
              <li class="list-group-item">Apellido:  {{secondnamebill}} </li>
              <li class="list-group-item">Email:  {{emailbill}} </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

