<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PetCenter</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- section banner start -->
    <div class="header_section">
      <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-4">
            <div class="imagen">
              <img src="assets/img/dashboard-client/logo1.png" alt="logo">
            </div>
          </div>
          <div class="col-md-8">
            <div class="menu_text">
              <ul>
                <li class="last">
                  <a href="/dashboard/register-seccion">Secciones</a> / <a href="/dashboard/register-products">Productos</a>/ <a href="/dashboard/dashboard-admin">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section banner end -->

    <!-- section about start -->



    <!-- section about end -->

    <!-- section footer start -->
    <div class="section_footer"></div>
    <!-- section footer end -->


  </body>
</html>

<div class="signup-form">
  <div class="background-image-container"></div>
  <div class="register-box">
    <img class="logo" src="../../../assets/img/dashboard-client/logo1.png" alt="Pet Center">
    <form action="/examples/actions/confirmation.php" method="post">
      <h2>Registro de secciones</h2>
      <p class="hint-text">Momento de agregar Secciones nuevas</p>
      <div class="form-group">
        <input [(ngModel)]="secciones.namesection" type="text" class="form-control" name="name" placeholder="Nombre de la seccion" required="required">
      </div>


      <div class="registro">
          <button type="submit" (click)="createSeccion()" >Registar</button>
      </div>

  </form>

  </div>



</div>
<div class="container">
  <h2>Lista de Secciones</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let secciones of seccion">
      {{ secciones.namesection }}
      <div class="float-right">
        <button class="btn btn-primary btn-sm mr-2">Actualizar</button>
        <button class="btn btn-danger btn-sm">Eliminar</button>
      </div>
    </li>

  </ul>
</div>

